:root{
    --textColour: rgb(214, 96, 41);
}

body {
    background-color: rgb(8, 65, 65);
    font-family: 'Rockwell';
    background-attachment: fixed;
}

.header {
    height: 100px;
}

.header h1 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.playArea{
    display: flex;
    flex-direction: column;
}

.table{
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 800px;
    border: solid var(--textColour);
    border-radius: 10px;
    position: relative;
}

.tableLabel{
    color: var(--textColour);
    position: absolute;
    bottom: 1%;
    left: 5%;
}

.scoreCounter{
    padding-top:60px;
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.scoreInfo{
    color: var(--textColour);
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.currentScore{
    color: white;
    font-family: 'Rockwell';
    position: absolute;
    font-size: 12px;
}

circle{
    stroke-width: 6%;
    stroke-linecap: round;
    fill: transparent;
}

.deckZone{
    position: absolute;
    top: 5%;
    left: 10%;
    height: 320px;
    width: 220px;
    border: dotted var(--textColour);
    border-radius: 10px;
}

.dealerHandZone{
    position: absolute;
    top: 5%;
    right: 10%;
    height: 320px;
    width: 220px;
    border: dotted var(--textColour);
    border-radius: 10px;
}

.playerHandZone{
    position: absolute;
    top: 60%;
    left:30%;
}

.dealerHand{
    position: absolute;
    top: -30%;
}

.tableDeck{
    position: absolute;
    left: 5%;
    right: 40%;
}

.currentHand{
    position: absolute;
}

.gameButton{
    color: white;
    font-family: 'Rockwell';
    font-size: 32px;
    background-color: rgb(22, 165, 165);
    width: 226px;
    height: 60px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.hit{
    bottom: 40%;
    left:10%;
    position: absolute;
}

.stand{
    bottom: 40%;
    right:10%;
    position: absolute;
}

.card {
    width: 200px;
    height: 300px;
    position:absolute;
    transform-style: preserve-3d;
}

.cardFace{
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position:relative;
    backface-visibility: hidden;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    position: absolute;
    user-select: none;
}

.front img{
    width: 35px;
    height: 35px;
}

.back{
    display: flex;
    box-sizing: border-box;
    border: 10px solid white;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center;
    position: absolute;
    user-select: none;
    transform: rotateX(180deg);
}

.back img{
    max-width:100%;
    max-height:100%;
}

.card p{
    font-size: 32px;
    font-family: 'Rockwell';
    font-weight: 100px;
    margin: 0;
}

.cardIconTop{
    width: 20px !important;
    height: 20px !important;
}

.cardInfoTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 5px;
}

.cardIconBottom{
    width: 20px !important;
    height: 20px !important;
}

.cardInfoBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 5px;
    transform: rotate(180deg);
}

.iconArea{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 110px;
    height: 240px;
}

.endMessageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 30%;
    top: 40%;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 1;
    background: rgba(0,0,0,0.7);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: saturate(200%) blur(8px);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.endMessageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    
}

.modalButtons{
    display: flex;
    justify-content: space-between;
    padding:20px;
    width: 100%;
}

.modalButtons button{
    width: 150px;
}
