body {
    background-color: rgb(8, 65, 43);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    height: 100px;
}

.header h1 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.playArea{
    display: flex;
    flex-direction: column;
}

.table{
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 800px;
    border: solid rgb(177, 154, 23);
    border-radius: 10px;
    position: relative;
}

.tableLabel{
    color: rgb(177, 154, 23);
    position: absolute;
    bottom: 1%;
    left: 5%;
}

.scoreCounter{
    padding-top:60px;
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.scoreInfo{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deckZone{
    position: absolute;
    top: 5%;
    left: 10%;
    height: 320px;
    width: 220px;
    border: dotted rgb(177, 154, 23);
    border-radius: 10px;
}

.dealerHandZone{
    position: absolute;
    top: 5%;
    right: 10%;
    height: 320px;
    width: 220px;
    border: dotted rgb(177, 154, 23);
    border-radius: 10px;
}

.playerHandZone{
    position: absolute;
    top: 60%;
    left:30%;
}

.dealerHand{
    position: absolute;
    top: -30%;
}

.tableDeck{
    position: absolute;
    left: 5%;
    right: 40%;
}

.currentHand{
    position: absolute;
}

.card {
    width: 200px;
    height: 300px;
    position:absolute;
    transform-style: preserve-3d;
}

.cardFace{
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position:relative;
    backface-visibility: hidden;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    position: absolute;
    user-select: none;
}

.front img{
    width: 35px;
    height: 35px;
}

.back{
    display: flex;
    box-sizing: border-box;
    border: 10px solid white;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center;
    position: absolute;
    user-select: none;
    transform: rotateX(180deg);
}

.back img{
    max-width:100%;
    max-height:100%;
}

.card p{
    font-size: 32px;
    font-family: 'Rockwell';
    font-weight: 100px;
    margin: 0;
}

.cardIconTop{
    width: 20px !important;
    height: 20px !important;
}

.cardInfoTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 5px;
}

.cardIconBottom{
    width: 20px !important;
    height: 20px !important;
}

.cardInfoBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 5px;
    transform: rotate(180deg);
}

.iconArea{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 110px;
    height: 240px;
}

